@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Roboto+Condensed:wght@400;700&display=swap');
/* Estilos de la page de error 404 */

.tituloError404 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.fuenteTexto {
    font-family: 'Roboto Condensed', sans-serif;
}