/* Estilos de page Administrador. */
.italica {
    font-style: italic;
}

.btnCuadrado {
    border-radius: 0;
}

.btnColorRojo {
    color: white;
    background-color: #d13639;
}

.btnColorNegro {
    color: white;
    background-color: rgb(36, 33, 33);
}

.colorTexto {
    color: #FFFFFF;
}

.colorTextoSecundario {
    color: #919a9a;
    font-weight: normal;
}