@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

.colorNav {
  background: #202020;
  height: auto;
}

.logo {
  filter: drop-shadow(0 0 0.77rem #000);
  width: 106px;
}

nav {
  font-family: "Dhurjati", sans-serif;
  font-size: 30px;
  display: inline-block;
}

.margen_icono {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;

}

.margen_admin {
  margin-left: 19px;
}

.margen_tienda {
  margin-right: 4px;
}

.tamañoInput {
  margin-left: auto;
  border-radius: 1.6rem;
  width: 195px;
}

.tamañoInput:focus {
  outline: 0;
  border-color: #d13639;
  box-shadow: 0 0 0 0.25rem #d13639;
}

.colorFooter {
  background: #202020;
  height: auto;
}

.footerLogo {
  width: 103px;
  filter: drop-shadow(0 0 0.77rem #000);
}

.colorLinksFooter {
  color: #8a8887;
  text-decoration: none;
  transition: all 0.3s;
}

.colorLinksFooter:hover {
  color: rgb(203, 209, 209);
  text-decoration: underline;
}

.colorTextoFooter {
  color: #8a8887;
}

.tamañoFooter {
  padding: 60px 20px 40px;
}

.hrFooter {
  color: aliceblue;
}

.IrINICIO {
  text-decoration: none;
  font-family: "Eco Coding W02 WGL4", monospace;
  color: #8a8887;
  transition: all 0.3s;
}

.IrINICIO:hover {
  color: rgb(203, 209, 209);
}

.IrINICIO:hover i {
  transition: all 0.3s;
  color: #d13639;
}

.textoListaFooter {
  list-style: none;
}

.listaFooter {
  list-style: none;
  color: #8a8887;
  font-family: "Dhurjati", sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px;
  display: inline-block;
}

.listaFooter:hover {
  color: rgb(203, 209, 209);
  text-decoration: underline;
}

.inclinacionListaFooter {
  display: inline-block;
}

.footerSocial {
  width: 180px;
}

.footerIcons {
  font-size: 22px;
  margin-right: 13px;

  color: #8a8887;
  transition: all 0.3s;
}

.footerSocial {
  margin-left: auto;
}

.footerIcons:hover {
  color: #d13639;
}

.alineacion {
  display: flex;
  align-items: center;
}

.ubicacionLista {
  display: flex;
}

.secondNav {
  background-color: #121212;
}

.mySearch {
  background: #202020;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
}

.mySearchInput {
  border: none;
  background: none;
  color: #8a8887;
  width: max-content;
}

.mySearchInput:focus {
  outline: none;
}

#headerSearchBar {
  border: #8a8887 1px solid;
}

#headerSearchBar:focus {
  background: #202020;
  box-shadow: none;
}

.mySearch:focus {
  border-color: #d13639;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d13639;
}

.hover_nav_link {

  color: #8a8887;

}

@media screen and (min-width: 1024px) {
  .marginNav {
    padding-left: auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .columna1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .columna2 {
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }

  .footerSocial {
    width: 208px;
  }
}

@media screen and (max-width: 950px) {
  .marginNav {
    margin-left: 0px;
  }

  .margen_admin {
    margin-left: 19px;
  }

  .footer {
    display: flex;
  }

  .columna1 {
    display: flex;
    text-align: center;
  }

  .footerSocial {
    width: 264px;
  }

  .tamañoInput {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 1.6rem;
    width: 100%;
  }
}

@media screen and (min-width: 950px) {
  .marginNav {
    margin-left: 0px;
  }

  .margen_icono {
    margin-left: 0px;
    display: flex;
  }

  .margen_admin {
    margin-left: 6px;
    margin-top: 11px;
    margin-right: 10px;
  }

  .footer {
    display: flex;
  }

  .columna1 {
    display: flex;
    text-align: center;
    padding-top: 10px;
  }

  .columna2 {
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }
}

@media screen and (max-width: 949px) {
  .marginNav {
    margin-left: 0px;
  }

  .margen_icono {
    margin-left: 0px;
    display: flex;
    flex-direction: column;

  }

  .margen_admin {
    margin-left: 0px;
    margin-top: 11px;
  }

  .footer {
    display: block;
  }

  .columna1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .columna2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .marginNav {
    margin-left: 0px;
  }

  .margen_icono {
    margin-left: 0px;
    display: block;
    flex-direction: column;


  }

  .margen_admin {
    margin-left: 0px;
    margin-top: 11px;
  }

  .margen_sobreNosotros {
    margin-bottom: 10px;
  }

  .margen_tienda {
    margin-top: 11px;
  }

  .footer {
    display: block;
  }

  .columna1 {
    display: block;
    justify-content: center;
    padding-top: 10px;
  }

  .derechos {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .desaparece {
    display: none;
  }

  .alineacion {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .ubicacionLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }

  .ubicacionLista {
    display: flex;
    justify-content: center;
  }

  .footerSocial {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}